XSD/dsbhr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:msg="http://www.broservices.nl/xsd/dsbhr/2.0" xmlns:tns="http://www.broservices.nl/wsdl/dsbhr/2.0" name="dsbhr" targetNamespace="http://www.broservices.nl/wsdl/dsbhr/2.0">
  <wsdl:documentation>
        Deze WSDL beschrijft de webservice voor uitgifte van booronderzoek voor de
        Basisregistratie Ondergrond. Deze versie is 2.0.0
        Changes compared to Version:1.0.0:
        - based on dsbhr 2.0
        Changes compared to Version:0.7.1:
        - based on uniform model for transactions and messages
        Changes compared to Version:0.7:
        - Added operations/bindings/messages for dispatchCharacteristics.
    </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/dsbhr/2.0" targetNamespace="http://www.broservices.nl/wsdl/dsbhr/2.0">
      <!--
      <xsd:import namespace="http://www.broservices.nl/xsd/dsbhr/2.0" schemaLocation="https://schema.broservices.nl/xsd/dsbhr/2.0/dsbhr-messages.xsd"/>
      -->
      <xsd:import namespace="http://www.broservices.nl/xsd/dsbhr/2.0" schemaLocation="dsbhr-messages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="dispatchDataRequest">
    <wsdl:part name="request" element="msg:dispatchDataRequest"/>
  </wsdl:message>
  <wsdl:message name="dispatchDataResponse">
    <wsdl:part name="response" element="msg:dispatchDataResponse"/>
  </wsdl:message>
  <wsdl:message name="dispatchCharacteristicsRequest">
    <wsdl:part name="request" element="msg:dispatchCharacteristicsRequest"/>
  </wsdl:message>
  <wsdl:message name="dispatchCharacteristicsResponse">
    <wsdl:part name="response" element="msg:dispatchCharacteristicsResponse"/>
  </wsdl:message>
  <wsdl:message name="parseSoapFault">
    <wsdl:part name="parseFault" element="msg:parseFault"/>
  </wsdl:message>
  <wsdl:portType name="dsbhr">
    <wsdl:operation name="dispatchData">
      <wsdl:input message="tns:dispatchDataRequest" wsam:Action="http://www.broservices.nl/wus/dsbhr/dispatchDataRequest"/>
      <wsdl:output message="tns:dispatchDataResponse" wsam:Action="http://www.broservices.nl/wus/dsbhr/dispatchDataResponse"/>
      <wsdl:fault name="parsefault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/dsbhr/parseSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="dispatchCharacteristics">
      <wsdl:input message="tns:dispatchCharacteristicsRequest" wsam:Action="http://www.broservices.nl/wus/dsbhr/dispatchCharacteristicsRequest"/>
      <wsdl:output message="tns:dispatchCharacteristicsResponse" wsam:Action="http://www.broservices.nl/wus/dsbhr/dispatchCharacteristicsResponse"/>
      <wsdl:fault name="parsefault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/dsbhr/parseSoapFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dsbhr_SOAP" type="tns:dsbhr">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dispatchData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="parsefault">
        <soap:fault name="parsefault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="dispatchCharacteristics">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="parsefault">
        <soap:fault name="parsefault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dsbhr">
    <wsdl:port name="dsbhr_SOAP" binding="tns:dsbhr_SOAP">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
