XSD/isbhr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (http://www.altova.com) by TNO Information Services (TNO Corporate Staforganen) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0" xmlns:msg="http://www.broservices.nl/xsd/isbhr/2.0" xmlns:tns="http://www.broservices.nl/wsdl/isbhr/2.0" xmlns:ns="http://www.opengis.net/gml/3.2" xmlns:ns1="http://www.w3.org/1999/xlink" name="isbhr" targetNamespace="http://www.broservices.nl/wsdl/isbhr/2.0">
  <wsdl:documentation>
        Deze WSDL beschrijft de webservice voor inname van booronderzoek voor de
        Basisregistratie Ondergrond. Deze versie is 2.0.0
        Changes compared to Version:1.0.0:
        - based on isbhr 2.0
        Changes compared to Version:0.7.1:
        - based on uniform model for transactions and messages
        Changes compared to Version:0.7:
        - Renamed register, startRegistration, R_Request en RS_Request naar registerPedology, startRegistrationPedology, R_PedologyRequest en RS_PedologyRequest.
        - Added operations/bindings/messages for correctPedology.
    </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/isbhr/2.0" targetNamespace="http://www.broservices.nl/wsdl/isbhr/2.0">
      <!--
      <xsd:import namespace="http://www.broservices.nl/xsd/isbhr/2.0" schemaLocation="https://schema.broservices.nl/xsd/isbhr/2.0/isbhr-messages.xsd"/>
      <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
      -->
      <xsd:import namespace="http://www.broservices.nl/xsd/isbhr/2.0" schemaLocation="isbhr-messages.xsd"/>
      <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrationRequest">
    <wsdl:part name="request" element="msg:registrationRequest"/>
  </wsdl:message>
  <wsdl:message name="correctionRequest">
    <wsdl:part name="request" element="msg:correctionRequest"/>
  </wsdl:message>
  <wsdl:message name="intakeResponse">
    <wsdl:part name="response" element="msg:intakeResponse"/>
  </wsdl:message>
  <wsdl:message name="parseSoapFault">
    <wsdl:part name="parseFault" element="msg:parseFault"/>
  </wsdl:message>
  <wsdl:message name="DeliveryResponsiblePartyHeader">
    <wsdl:part name="deliveryResponsibleParty" element="brocom:deliveryResponsibleParty"/>
  </wsdl:message>
  <wsdl:portType name="isbhr">
    <wsdl:operation name="register">
      <wsdl:input message="tns:registrationRequest" wsam:Action="http://www.broservices.nl/wus/isbhr/registrationRequest"/>
      <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isbhr/intakeResponse"/>
      <wsdl:fault name="parseFault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/isbhr/parseSoapFault"/>
    </wsdl:operation>
    <wsdl:operation name="correct">
      <wsdl:input message="tns:correctionRequest" wsam:Action="http://www.broservices.nl/wus/isbhr/correctionRequest"/>
      <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isbhr/intakeResponse"/>
      <wsdl:fault name="parseFault" message="tns:parseSoapFault" wsam:Action="http://www.broservices.nl/wus/isbhr/parseSoapFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="isbhr_SOAP" type="tns:isbhr">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="encoded"/>
        <soap:header message="tns:DeliveryResponsiblePartyHeader" part="deliveryResponsibleParty" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="parseFault">
        <soap:fault name="parseFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="correct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:DeliveryResponsiblePartyHeader" part="deliveryResponsibleParty" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="parseFault">
        <soap:fault name="parseFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="isbhr">
    <wsdl:port name="isbhr_SOAP" binding="tns:isbhr_SOAP">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
